<div class="d-flex flex-column flex-shrink-0 p-3 text-white " id="sidebar-videos">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-black text-decoration-none"></a>
  <svg class="bi me-2" width="40" height="32"></svg>
  <span class="fs-4"></span>

  <ul class="nav nav-pills flex-column mb-auto">
    <li>
      <a href="#" class="nav-link text-black"><img src="assets/Multimedia/img.jpg" alt="vid1"
                                                   style="max-width:50%;width:auto;height:auto;" >
        <div id="descripcion1">

            <h6>Mercedez-Benz inovando con su nuevo modelo de carro electrico</h6>
          <div id="div1">
          <a id="canal1">Car-tops</a>
            <p id="vistas1">30 M de vistas * hace 1 año</p>
          </div>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-black" aria-current="page"><img src="assets/Multimedia/img2.jpg" alt="vid2"
                                                                       style="max-width:50%;width:auto;height:auto;" >
        <div id="descripcion2">
          <h6>La tecnologia ayuda a guardar el planeta</h6>
          <div id="div2">
            <a id="canal2">Planeta Channel</a>
            <p id="vistas2">250 k de vistas * hace 6 meses</p>
          </div>

        </div>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-black"><img src="assets/Multimedia/img3.png" alt="vid3"
                                                   style="max-width:50%;width:auto;height:auto;" >
        <div id="descripcion3">
          <h6>Gran tormeta de arena en el desierto Sahara</h6>
          <div id="div3">
            <a id="canal3">Noticias EFE</a>
            <p id="vistas3">10 k de vistas * hace 2 años</p>
          </div>

        </div>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-black"><img src="assets/Multimedia/img6.jpg" alt="vid4"
                                                   style="max-width:50%;width:auto;height:auto;" >
        <div id="descripcion4">
          <h6>Peugot no se queda atras en la inovacion de vehiculos electricos!</h6>
          <div id="div4">
            <a id="canal4">Info Carros</a>
            <p id="vistas4">1 M de vistas * hace 3 meses</p>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-black"><img src="assets/Multimedia/img5.jpg" alt="vid5"
                                                   style="max-width:50%;width:auto;height:auto;" >
        <div id="descripcion5">
          <h6>Calientamiento global derrite gran parte de la mnotaña Taka-Taka</h6>
          <div id="div5">
            <a id="canal5">Planeta Channel</a>
            <p id="vistas5">20 K de vistas * hace 8 meses</p>
          </div>
        </div>
      </a>
    </li>

  </ul>

</div>














