#descripcion1{
  margin-top: -115px;
  margin-left: 180px;
  margin-bottom: -15px;
  color: white;
}

#div1{
margin-top: -8px;
}

#canal1{
  font-size: 14px;
}

#vistas1{
  font-size: 10px;
}

#descripcion2{
  margin-top: -115px;
  margin-left: 180px;
  margin-bottom: 10px;
  color: white;
}

#div2{
  margin-top: -8px;
}

#canal2{
  font-size: 14px;
}

#vistas2{
  font-size: 10px;
}

#descripcion3{
  margin-top: -115px;
  margin-left: 180px;
  margin-bottom: -10px;
  color: white;
}

#div3{
  margin-top: -8px;
}

#canal3{
  font-size: 14px;
}

#vistas3{
  font-size: 10px;
}

#descripcion4{
  margin-top: -115px;
  margin-left: 180px;
  margin-bottom: -10px;
  color: white;
}

#div4{
  margin-top: -8px;
}

#canal4{
  font-size: 14px;
}

#vistas4{
  font-size: 10px;
}

#descripcion5{
  margin-top: -115px;
  margin-left: 180px;
  margin-bottom: 37px;
  color: white;
}

#div5{
  margin-top: -8px;
}

#canal5{
  font-size: 14px;
}

#vistas5{
  font-size: 10px;
}

#descripcion6{
  margin-top: -115px;
  margin-left: 180px;
  margin-bottom: 20px;
  color: white;
}
