<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="btn text-black" type="submit"><ion-icon name="menu-sharp"></ion-icon></button>
    <a class="navbar-brand" href="#" id="nom_pagina"><img src="assets/Multimedia/logo_yt.png" alt="Logo"
                                          style="max-width:7%;width:auto;height:auto;" >
      WeTube</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- BOTONES Y BUSQUEDA CENTRO -->
    <div>
      <div class="collapse navbar-collapse container-fluid" id="largo_search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="txt_busq">

        <button class="btn text-black" type="submit"><ion-icon name="search-sharp"></ion-icon></button>
        <button class="btn text-black" type="submit"><ion-icon name="mic-sharp"></ion-icon></button>

      </div>
    </div>


    <div class="collapse navbar-collapse container-fluid">
      <!-- BOTONES ARRIBA DERECHA -->


        <button class="btn text-black" type="submit"><ion-icon name="apps-sharp"></ion-icon></button>
        <button class="btn text-black" type="submit"><ion-icon name="ellipsis-vertical-sharp"></ion-icon></button>
        <button class="btn btn-outline-primary" type="submit" id="Acceder">
          ACCEDER</button>

    </div>
  </div>
</nav>

