<a><img src="assets/Multimedia/img7.jpg" id="imagen-central" alt="vid1"
        style="max-width:145%;width:auto;height:auto;" >
  <div id="descripcion_vid">

    <!-- BARRA DE LIKES Y LINEA HR -->
    <h5>La Maquina del Misterio version animada!</h5>
    <img src="assets/Multimedia/barra_abajo.PNG" alt="vid1"
         style="max-width:95%;width:auto;height:auto;">
    <hr width="620">

      <!-- ICO CANAL YT -->
    <div class="overflow-auto">
      <img src="assets/Multimedia/scooby%20Doo.png" alt="ico_canal"
           style="max-width:8%;width:auto;height:auto;">
            <p id="nom_canal"> Scooby Doo PaPa <ion-icon name="checkmark-circle"></ion-icon> </p>
            <p id="suscriptores">480.000 suscriptores</p>

      <button class="btn text-white" id="boton_susb" type="submit">SUSCRIBIRME</button>
    </div>

  </div>

</a>
